.icons{
    display: flex;
    height: 4rem;
    width: 4rem;
    /* background-color: aqua; */
}
.img1{
    height: 3rem;
    width: 3rem;
    background-image: url('./Vector.png');
    background-position: center;
    background-repeat: no-repeat;

}
.img2{
    height: 3rem;
    width: 3rem;
    background-image: url('./Vector1.png');
    background-position: center;
    background-repeat: no-repeat;
}
.pickplayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 25rem;
    border-radius: 5px;
    background-color:  #1F3540;
}
.signs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4rem;
    width: 20rem;
    border-radius: 4px;
    background-color: #192A32;
}
.text{
    color: white;
}
.btn1{
    background-image: url('./Vector1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #192A32;
    border-radius: 4px;
    border: 0px;
    height: 3rem;
    width: 9rem;
}
.btn2 {
    background-image: url('./Vector.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #192A32;
    border-radius: 4px;
    border: 0px;
    height: 3rem;
    width: 9rem;
}
.btn1:hover,.btn2:hover{
    background-color: white;
}
.newgame{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-decoration: none;
    color: black;
    margin-top: 2rem;
    font-weight: 600;
    height: 4rem;
    width: 25rem;
    background-color: #F2B237;
    border-radius: 4px;
}
.ng-vs-human{
    display: flex;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        text-decoration: none;
        color: black;
        margin-top: 2rem;
        font-weight: 600;
        height: 4rem;
        width: 25rem;
        background-color: #32C4C3;
        border-radius: 4px;
}
.invite{
    display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        color: black;
        margin-top: 2rem;
        font-weight: 700;
        height: 3.5rem;
        width: 20rem;
        background-color: #F2B237;
        border-radius: 4px;
}